<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-header text-black bg-blue">Registro de Empleados por lista de compra</div>
			<form th:action="@{/empleadoxLCs/guardar}" th:object="${empleadoxLC}"
				method="post">

				
				
					<div class="form-group row">
					<label for="empleadoEmpleadoLC" class="col-sm-2 col-form-label">Empleado:</label>
					<div class="col-sm-6">
						<select class="form-control"
							th:field="*{empleadoEmpleadoLC.idEmpleado}">
							<option th:each="l: ${listaEmpleados}"
								th:value="${l.idEmpleado}" th:text="${l.nombreEmpleado}"
								th:selected="(${l.idEmpleado} == *{empleadoEmpleadoLC.idEmpleado})"></option>
						</select>
					</div>
				</div>
				
				
				
					<div class="form-group row">
					<label for="listaEmpleadoLC" class="col-sm-2 col-form-label">Lista de compra:</label>
					<div class="col-sm-6">
						<select class="form-control"
							th:field="*{listaEmpleadoLC.idLista}">
							<option th:each="l: ${listaLista_Compras}"
								th:value="${l.idLista}" th:text="${l.idLista}"
								th:selected="(${l.idLista} == *{listaEmpleadoLC.idLista})"></option>
						</select>
					</div>
				</div>
				
					


				<div class="form-group row">
					<div class="col-sm-6" align="center">
						<input type="submit" value="Registrar" class="btn btn-primary" />

						<a href="/empleadoxLCs/listar" class="btn btn-danger">Cancelar</a>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div th:if="${mensaje}" class="form-text text-danger">
		<p th:text="${mensaje}"></p>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>