<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div align="right">
			<a th:href="@{/empleadoxLCs/nuevo}" id="add-row" type="button"
				class="btn btn-primary">Nueva relación empleado por orden de compra</a>
		</div>
		<div>
			<form th:action="@{/empleadoxLCs/buscar}" method="post"
				th:object="${empleadoxLC}">
				

			</form>

		</div>

		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Lista de empleado por orden de compra</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">
						<thead class="bg-dark mb-3 text-white">
							<tr>
								<th>Id</th>
								<th>Nombre del empleado</th>
								<th>Lista de compra</th>
								
								
								<th align="center">Operación</th>
								<th align="center">Operación</th>
							</tr>
						</thead>
						<tbody id="empleadoxLC-list">
							<tr th:each="empleadoxLC:${listaEmpleadoxLCs}">
								
								<td><a  th:text="${empleadoxLC.idEmpleadoXLC}"></a></td>

								<td th:text="${empleadoxLC.empleadoEmpleadoLC.nombreEmpleado}"></td>

								<td th:text="${empleadoxLC.listaEmpleadoLC.idLista}"></td>
								
                                <td align="center"><a
									th:href="@{'/empleadoxLCs/detalle/' + ${empleadoxLC.idEmpleadoXLC}}"
									type="button" class="btn btn-default btn-lg">Editar</a></td>
								<td align="center"><a
									th:href="@{/empleadoxLCs/eliminar?id=}+${empleadoxLC.idEmpleadoXLC}"
									type="button" class="btn btn-default btn-lg">Eliminar</a></td>
								
							</tr>
						</tbody>
					</table>
					<div th:if="${mensaje}" class="alert alert-info">
						<p th:text="${mensaje}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>