<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div align="right">
			<a th:href="@{/empleados/nuevo}" id="add-row" type="button"
				class="btn btn-primary">Nuevo Empleado</a>
		</div>
		<div>
			<form th:action="@{/empleados/buscar}" method="post"
				th:object="${empleado}">
				<div class="form-group">

					<label for="empleado">Buscar:</label> <input type="text"
						class="form-control" th:field="*{puestoEmpleado}" id="empleado" placeholder="Buscar por puesto del Empleado"></input>
					<div align="right">
						<button type="submit" class="btn btn-success">Aceptar</button>
						<a href="/empleados/listar" class="btn btn-danger">Cancelar</a>
					</div>
				</div>

			</form>

		</div>

		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Lista de
				Empleados</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">
						<thead class="bg-dark mb-3 text-white">
							<tr>
								<th>Id</th>
								<th>Nombres</th>
								<th>Apellidos</th>
								<th>Sede</th>
								<th>Puesto</th>
								<th align="center">Operación</th>
								<th align="center">Operación</th>
							</tr>
						</thead>
						<tbody id="empleado-list">
							<tr th:each="empleado:${listaEmpleados}">
								<td><a class="btn btn-primary btn-xs"
									th:href="@{/empleados/ver/} + ${empleado.idEmpleado}"
									th:text="${empleado.idEmpleado}"></a></td>

								<td th:text="${empleado.nombreEmpleado}"></td>
								<td th:text="${empleado.apellidoEmpleado}"></td>
								<td th:text="${empleado.sedeEmpleado}"></td>
								<td th:text="${empleado.puestoEmpleado}"></td>

								<td align="center"><a
									th:href="@{/empleados/eliminar?id=}+${empleado.idEmpleado}"
									type="button" class="btn btn-default btn-lg">Eliminar</a></td>
								<td align="center"><a
									th:href="@{'/empleados/detalle/' + ${empleado.idEmpleado}}"
									type="button" class="btn btn-default btn-lg">Editar</a></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${mensaje}" class="alert alert-info">
						<p th:text="${mensaje}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
<script type="text/javascript">
	function ondelete(a){
	Swal.fire({
				title: '¿Estas seguro?',
				text: "No podrás revertir esto!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',  
				cancelButtonColor: '#d33',
			   	confirmButtonText: 'Si, eliminar!'
			}).then((result) => {
		if (result.value) {
			    location.href = "/listaCompras/eliminar?id="+a.id;
			 }
		});
	}
</script>