<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div align="right">
			<a th:href="@{/listaCompras/nuevo}" id="add-row" type="button"
				class="btn btn-primary">Nuevo Lista de compra</a>
		</div>

		<div>
			<form th:action="@{/listaCompras/buscarestado}" method="post"
				th:object="${lista_Compra}">
				<div class="form-group">
					<label for="p">Buscar:</label> <input type="text"
						class="form-control" th:field="*{estadoLista}" id="p"></input>
					<div align="right">
						<button type="submit" class="btn btn-info">Aceptar</button>
						<a href="/listaCompras/listar" class="btn btn-dark">Cancelar</a>
					</div>
				</div>
			</form>
		</div>

		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Lista de
				compras solicitadas registradas</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">
						<thead class="bg-dark mb-3 text-white">
							<tr>
								<th>Id</th>
								<th>Proveedor</th>
								<th>Precio</th>
								<th>Estado</th>
								<th align="center">Operación</th>
								<th align="center">Operación</th>
							</tr>
						</thead>

						<tbody id="lista_Compra-list">
							<tr th:each="lista_Compra:${listaLista_Compras}">

								<td><a class="btn btn-primary btn-xs"
									th:href="@{/listaCompras/ver/} + ${lista_Compra.idLista}"
									th:text="${lista_Compra.idLista}" ></a></td>

								<td th:text="${lista_Compra.proveedorLista.nombreProveedor}"></td>

								<td th:text="${lista_Compra.precioLista}"></td>

								<td th:text="${lista_Compra.estadoLista}"></td>

								<td align="center"><a
									th:href="@{/listaCompras/eliminar?id=}+${lista_Compra.idLista}"
									type="button" class="btn btn-default btn-lg">Eliminar</a></td>
								<td align="center"><a
									th:href="@{'/listaCompras/detalle/' + ${lista_Compra.idLista}}"
									type="button" class="btn btn-default btn-lg">Editar</a></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${mensaje}" class="alert alert-info">
						<p th:text="${mensaje}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>