<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>
	<div style="height: 1000px; padding: 3px;">
		<br>

		<div class="container">
			<div align="right">
				<a th:href="@{/listaCompras/nuevo}" id="add-row" type="button"
					class="btn btn-primary">Nuevo Lista de compra</a>
			</div>
			<div style="width: 600px; float: left;">
				<div>
					<form th:action="@{/listaCompras/buscarp}" method="post"
						th:object="${lista_Compra}">
						<div class="form-group">
							<label for="compra">Buscar:</label> <input type="text"
								class="form-control" th:field="*{notaLista}" id="compra"
								placeholder="Ingrese el nombre del proveedor o el estado de la lista"></input>
							<div align="right">
								<button type="submit" class="btn btn-info">Aceptar</button>
								<a href="/listaCompras/listar" class="btn btn-dark">Cancelar</a>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div style="width: 600px; float: right;">
				<div>
					<form th:action="@{/listaCompras/buscarm}" method="post"
						th:object="${lista_Compra}">
						<div class="form-group">
							<label for="mcompra">Buscar por mayor:</label> <input type="text"
								class="form-control" th:field="*{precioLista}" id="mcompra"></input>
							<div align="right">
								<button type="submit" class="btn btn-info">Aceptar</button>
								<a href="/listaCompras/listar" class="btn btn-dark">Cancelar</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="card">
				<div class="card-header text-white bg-dark mb-3">Lista de
					compras solicitadas registradas</div>
				<div class="card-body">

					<div class="table-responsive">
						<table class="table table-white">
							<thead class="bg-dark mb-3 text-white">
								<tr>
									<th>Id</th>
									<th>Proveedor</th>
									<th>Precio</th>
									<th>Estado</th>
									<th align="left">Operaciones</th>
									<th align="left">Operación</th>
								</tr>
							</thead>

							<tbody id="lista_Compra-list">
								<tr th:each="lista_Compra:${listaLista_Compras}">

									<td><a class="btn btn-primary btn-xs"
										th:href="@{/listaCompras/ver/} + ${lista_Compra.idLista}"
										th:text="${lista_Compra.idLista}"></a></td>

									<td th:text="${lista_Compra.proveedorLista.nombreProveedor}"></td>

									<td th:text="${lista_Compra.precioLista}"></td>

									<td th:text="${lista_Compra.estadoLista}"></td>

									<td align="left"><a th:id="${lista_Compra.idLista}"
										class="fas fa-trash-alt fa-2x button-default"
										onclick="ondelete(this);"></a> | <a
										th:href="@{'/listaCompras/detalle/' + ${lista_Compra.idLista}}"
										class="fas fa-edit fa-2x button-default"></a></td>

									<td><a class="fas fa-cart-plus fa-2x button-default"
										th:href="@{/detalles/nuevodentro/} + ${lista_Compra.idLista}"></a></td>
								</tr>
							</tbody>
						</table>
						<div th:if="${mensaje}" class="alert alert-info">
							<p th:text="${mensaje}"></p>
						</div>
						<br>
						<div>
							<div style="float: left;">
								<a th:href="@{/detalles/listar}" type="button"
									class="btn btn-primary k"> <span
									class="glyphicon glyphicon-circle-arrow-left"></span> Listar
									todos los recursos solicitados
								</a>
							</div>
							<div style="float: right;">
								<a th:href="@{/empleadoxLCs/listar}" type="button"
									class="btn btn-primary k"> <span
									class="glyphicon glyphicon-circle-arrow-left"></span> Empleado
									por Lista de Compra
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
<script type="text/javascript">
	function ondelete(a){
	Swal.fire({
				title: '¿Estas seguro?',
				text: "No podrás revertir esto!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',  
				cancelButtonColor: '#d33',
			   	confirmButtonText: 'Si, eliminar!'
			}).then((result) => {
		if (result.value) {
			    location.href = "/listaCompras/eliminar?id="+a.id;
			 }
		});
	}
</script>