<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-header text-black bg-blue">Registro de
				Recursos</div>
			<form th:action="@{/recursos/guardar}" th:object="${recurso}"
				method="post" enctype="multipart/form-data">
				<div class="form-group row" style="display: none !important;">
					<label for="idRecurso" class="col-sm-2 col-form-label">Id</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{idRecurso}" class="form-control" />
					</div>
				</div>

				<div class="form-group row">
					<label for="nombreRecurso" class="col-sm-2 col-form-label">Nombre
						del Recurso</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{nombreRecurso}"
							class="form-control" th:errorclass="'form-control alert-info'" />
						<small th:if="${#fields.hasErrors('nombreRecurso')}"
							th:errors="*{nombreRecurso}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="tipoUnidadRecurso" class="col-sm-2 col-form-label">Tipo
						Unidad Recurso</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{tipoUnidadRecurso}"
							class="form-control" th:errorclass="'form-control alert-danger'" />
						<small th:if="${#fields.hasErrors('tipoUnidadRecurso')}"
							th:errors="*{tipoUnidadRecurso}"></small>
					</div>
				</div>


				<div class="form-group row">
					<label for="precioRecurso" class="col-sm-2 col-form-label">Precio
						del recurso</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{precioRecurso}"
							class="form-control" th:errorclass="'form-control alert-info'" />
						<small th:if="${#fields.hasErrors('precioRecurso')}"
							th:errors="*{precioRecurso}"></small>
					</div>
				</div>


				<div class="form-group row">
					<label for="file" class="col-sm-2 col-form-label ">Foto:</label>
					<div class="col-sm-6">
						<input type="file" name="file" class="form-control"
							th:text="${recurso.foto}" required="required" />
					</div>

				</div>
				<div class="form-group row">
					<div class="col-sm-6" align="center">
						<input type="submit" th:value="${valorBoton}"
							class="btn btn-primary" /> <a href="/recursos/listar"
							class="btn btn-danger">Cancelar</a>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div th:if="${mensaje}" class="form-text text-danger">
		<p th:text="${mensaje}"></p>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>