<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div align="right">
			<a th:href="@{/detalles/nuevo}" id="add-row" type="button"
				class="btn btn-primary">Nuevo Detalle de Compra</a>
		</div>
		<div>
			<form th:action="@{/detalles/buscar}" method="post"
				th:object="${detalle}">
				<div class="form-group">

					<label for="detalle">Buscar por ID de Lista de Compra:</label> <input
						type="text" class="form-control" th:field="*{listaDetalle.idLista}"
						id="detalle"></input>
					<div align="right">
						<button type="submit" class="btn btn-success">Aceptar</button>
						<a href="/detalles/listar" class="btn btn-danger">Cancelar</a>
					</div>
				</div>

			</form>

		</div>

		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Lista de
				Detalles de Compra</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">
						<thead class="bg-dark mb-3 text-white">
							<tr>
								<th>Id</th>
								<th>Recurso</th>
								<th>Lista de Compra</th>
								<th>Total Importe</th>
								<th align="center">Operación</th>
								<th align="center">Operación</th>
							</tr>
						</thead>
						<tbody id="detalle-list">
							<tr th:each="detalle:${listaDetalles}">
								<td><a class="btn btn-primary btn-xs"
									th:href="@{/detalles/ver/} + ${detalle.idDetalle}"
									th:text="${detalle.idDetalle}"></a></td>

								<td th:text="${detalle.recursoDetalle.nombreRecurso}"></td>

								<td th:text="${detalle.listaDetalle.idLista}"></td>
								
								<td th:text="${detalle.importe}"></td>
								<td align="center"><a
									th:href="@{/detalles/eliminar?id=}+${detalle.idDetalle}"
									type="button" class="btn btn-default btn-lg">Eliminar</a></td>
								<td align="center"><a
									th:href="@{'/detalles/detalle/' + ${detalle.idDetalle}}"
									type="button" class="btn btn-default btn-lg">Editar</a></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${mensaje}" class="alert alert-info">
						<p th:text="${mensaje}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>