<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Detalles de
				Lista Compra</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">

						<tbody>
							<tr>
								<td>CÓDIGO</td>
								<td th:text="${detalle.idDetalle}"></td>
							</tr>
							<tr>
								<td>RECURSO</td>
								<td th:text="${detalle.recursoDetalle.nombreRecurso}"></td>
							</tr>
							<tr>
								<td>OBSERVACIÓN LISTA DE COMPRA</td>
								<td th:text="${detalle.listaDetalle.notaLista}"></td>
							</tr>
							<tr>
								<td>ID LISTA DE COMPRA</td>
								<td th:text="${detalle.listaDetalle.idLista}"></td>
							</tr>
							<tr>
								<td>PRECIO</td>
								<td th:text="${detalle.precioDetalle}"></td>
							</tr>
							<tr>
								<td>CANTIDAD DE UNIDADES</td>
								<td th:text="${detalle.unidadesDetalle}"></td>
							</tr>
							<tr>
								<td>IMPORTE TOTAL</td>
								<td th:text="${detalle.importe}"></td>
							</tr>

						</tbody>
					</table>

					<a th:href="@{/detalles/listar}" type="button"
						class="btn btn-primary k"> <span
						class="glyphicon glyphicon-circle-arrow-left"></span> Regresar a
						la lista de Detalles de Compra
					</a>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>