<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-header text-black bg-blue">Registro de
				contadores</div>
			<form th:action="@{/contadores/guardar}" th:object="${accountant}"
				method="post">
				<div class="form-group row" style="display: none !important;">
					<label for="accountantId" class="col-sm-2 col-form-label">Id</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{accountantId}" class="form-control" />
					</div>
				</div>

				<div class="form-group row">
					<label for="name" class="col-sm-2 col-form-label">Nombre
						del Contador</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{name}"
							class="form-control" th:errorclass="'form-control alert-info'" maxlength="30"/>
						<small th:if="${#fields.hasErrors('name')}"
							th:errors="*{name}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="documentNumber" class="col-sm-2 col-form-label">DNI</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{documentNumber}" class="form-control"
							th:errorclass="'form-control alert-danger'" maxlength="8"/> <small
							th:if="${#fields.hasErrors('documentNumber')}"
							th:errors="*{documentNumber}"></small>
					</div>
				</div>


				<div class="form-group row">
					<label for="accountingInstitution" class="col-sm-2 col-form-label">Nombre
						de la institución del contador</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{accountingInstitution}"
							class="form-control" th:errorclass="'form-control alert-info'" maxlength="30"/>
						<small th:if="${#fields.hasErrors('accountingInstitution')}"
							th:errors="*{accountingInstitution}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="contactNumber" class="col-sm-2 col-form-label">Número
						de contacto del contador</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{contactNumber}"
							class="form-control" th:errorclass="'form-control alert-info'" maxlength="9"/>
						<small th:if="${#fields.hasErrors('contactNumber')}"
							th:errors="*{contactNumber}"></small>
					</div>
				</div>


				<div class="form-group row">
					<div class="col-sm-6" align="center">
						<input type="submit" th:value="${valorBoton}" class="btn btn-primary" />

						<a href="/contadores/listar" class="btn btn-danger">Cancelar</a>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div th:if="${mensaje}" class="form-text text-danger">
		<p th:text="${mensaje}"></p>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>