<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Detalles de
				Contador</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">

						<tbody>
							<tr>
								<td>CÓDIGO</td>
								<td th:text="${contador.idContador}"></td>
							</tr>
							<tr>
								<td>NOMBRE</td>
								<td th:text="${contador.nombreContador}"></td>
							</tr>
							<tr>
								<td>DNI</td>
								<td th:text="${contador.dniContador}"></td>
							</tr>
							<tr>
								<td>INSTITUCIÓN</td>
								<td th:text="${contador.institucionContador}"></td>
							</tr>
							<tr>
								<td>NÚMERO CONTACTO</td>
								<td th:text="${contador.numeroContactoContador}"></td>
							</tr>

						</tbody>
					</table>

					<a th:href="@{/contadores/listar}" type="button"
						class="btn btn-primary k"> <span
						class="glyphicon glyphicon-circle-arrow-left"></span> Regresar a
						la lista de contadores
					</a>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>