<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>

	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-header text-black bg-blue">Registro de
				Proveedores</div>
			<form th:action="@{/proveedores/guardar}" th:object="${proveedor}"
				method="post">
				<div class="form-group row" style="display: none !important;">
					<label for="idProveedor" class="col-sm-2 col-form-label">Id</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{idProveedor}" class="form-control" />
					</div>
				</div>

				<div class="form-group row">
					<label for="nombreProveedor" class="col-sm-2 col-form-label">Nombre
						del Proveedor:</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{nombreProveedor}"
							class="form-control" th:errorclass="'form-control alert-info'" />
						<small th:if="${#fields.hasErrors('nombreProveedor')}"
							th:errors="*{nombreProveedor}"></small>
					</div>
				</div>


				<div class="form-group row">
					<label for="direccionProveedor" class="col-sm-2 col-form-label">DIRECCIÓN:</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{direccionProveedor}"
							class="form-control" th:errorclass="'form-control alert-danger'" />
						<small th:if="${#fields.hasErrors('direccionProveedor')}"
							th:errors="*{direccionProveedor}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="rucProveedor" class="col-sm-2 col-form-label">RUC:</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{rucProveedor}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							th:if="${#fields.hasErrors('rucProveedor')}"
							th:errors="*{rucProveedor}"></small>
					</div>
				</div>


				<div class="form-group row">
					<label for="nombrecontactoProveedor"
						class="col-sm-2 col-form-label">Nombre contacto del
						proveedor:</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{nombrecontactoProveedor}"
							class="form-control" th:errorclass="'form-control alert-info'" />
						<small th:if="${#fields.hasErrors('nombrecontactoProveedor')}"
							th:errors="*{nombrecontactoProveedor}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="numerocontactoProveedor"
						class="col-sm-2 col-form-label">Número de contacto del
						proveedor:</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{numerocontactoProveedor}"
							class="form-control" th:errorclass="'form-control alert-info'" />
						<small th:if="${#fields.hasErrors('numerocontactoProveedor')}"
							th:errors="*{numerocontactoProveedor}"></small>
					</div>
				</div>


				<div class="form-group row">
					<div class="col-sm-6" align="center">
						<input type="submit" th:value="${valorBoton}"
							class="btn btn-primary" /> <a href="/proveedores/listar"
							class="btn btn-danger">Cancelar</a>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div th:if="${mensaje}" class="form-text text-danger">
		<p th:text="${mensaje}"></p>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>