<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Detalles de
				Proveedor</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">

						<tbody>
							<tr>
								<td>CÓDIGO</td>
								<td th:text="${proveedor.idProveedor}"></td>
							</tr>
							<tr>
								<td>NOMBRE</td>
								<td th:text="${proveedor.nombreProveedor}"></td>
							</tr>
							<tr>
								<td>DIRECCION</td>
								<td th:text="${proveedor.direccionProveedor}"></td>
							</tr>
							
							<tr>
								<td>DNI</td>
								<td th:text="${proveedor.rucProveedor}"></td>
							</tr>
							<tr>
								<td>NOMBRE CONTACTO</td>
								<td th:text="${proveedor.nombreContactoProveedor}"></td>
							</tr>
							<tr>
								<td>NUMERO CONTACTO</td>
								<td th:text="${proveedor.numeroContactoProveedor}"></td>
							</tr>

						</tbody>
					</table>

					<a th:href="@{/proveedores/listar}" type="button"
						class="btn btn-primary k"> <span
						class="glyphicon glyphicon-circle-arrow-left"></span> Regresar a
						la lista de proveedores
					</a>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>